NODE_ENV=production

PORT=5001
DB_USER=taskflow_user
DB_PASSWORD=taskflowuser123
DB_NAME=taskflow
DB_HOST=db
DB_PORT=5432
CLIENT_URL=http://localhost
JWT_SECRET=replace-with-a-long-random-secret
IMAGE_VERSION=1.0.0
