project_name = "taskflow"
environment  = "dev"
aws_region   = "us-east-1"
aws_profile  = "mhmarkets"
vpc_cidr     = "10.20.0.0/16"

cluster_name    = "taskflow-cluster"
cluster_version = "1.33"

# Replace this documentation-only IP with your public IP in CIDR notation.
endpoint_public_access_cidrs = ["203.0.113.10/32"]

node_group_name     = "taskflow-node-group"
node_instance_types = ["t3.medium"]
node_capacity_type  = "ON_DEMAND"

node_group_desired_size = 1
node_group_min_size     = 1
node_group_max_size     = 2
node_group_disk_size    = 30

repositories = [
  "taskflow-backend",
  "taskflow-frontend"
]

database_name                = "taskflow_db"
database_username            = "taskflow_user"
database_password            = "replace-with-a-strong-password"
database_engine_version      = "15.10"
database_instance_class      = "db.t4g.micro"
database_allocated_storage   = 20
database_deletion_protection = false
database_skip_final_snapshot = true
